extends layout

block content

    main.container(role="main")
        .container.theme-showcase
            .page-header
                h3.ml-3.mb-3 Documentation

                .container
                    nav.navbar.navbar-expand-lg.navbar-light.bg-light
                        ul.navbar-nav.mr-auto
                            li.nav-item
                                a.nav-link(href='/projects/' + project.id + '/view')
                                    i.fas.fa-chevron-left
                                    |  Back
                            if documentation
                                li.nav-item
                                    a.nav-link(href='/projects/' + project.id + '/documentation/edit')
                                        |  Edit
                                li.nav-item
                                    a.nav-link(href='/projects/' + project.id + '/documentation/export')
                                        |  Export

                hr
            div.main.container
                .row
                    if success !== 0
                        .col-md-12.col-md-offset-0.margin-top20
                            .alert.alert-success(role="alert")
                                h4.alert-heading Success.
                                p #{success}.

                .row
                    if documentation && documentation.content
                        .col-12!= documentation.content
                    else
                        .col-12.d-flex.justify-content-center.align-items-center.flex-column
                            h5.mb-5.mt-5.text-secondary
                                | There's currently no documentation for this project.
                            div
                                a.btn.btn-primary(href='/projects/' + project.id + '/documentation/create')
                                    i.fas.fa-pen-square.mr-2
                                    | Create new documentation
                                span.ml-3.mr-3.text-secondary or
                                form.d-inline(method='POST' action='/projects/' + project.id + '/documentation/import' enctype="multipart/form-data")
                                    input.form-control-file.d-none#file-upload(type="file" name="importedDocumentation" onchange="this.form.submit()")
                                    label.btn.btn-light.cursor-pointer.m-0(for="file-upload")
                                        i.fas.fa-file-upload.mr-2
                                        | Import existing documentation